<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" thread-count="2" parallel="tests">
    <test name="LogIn" parallel="tests" >
        <classes>
            <class name="Elit1"/>
        </classes>
    </test>
    <test name="SecoudLogin" parallel="tests" >
        <classes>
            <class name="Elit2"/>
        </classes>
    </test>

</suite>